<div class="col-xs-6 col-sm-4">
  <div class="thumbnail">
    <img {{bind-attr src=model.thumbnailUrl}} {{bind-attr alt=model.name}} class="img-thumbnail">
    <div class="caption">
      <div class="row">
        <h1 class="col-xs-12 col-md-8">{{model.name}}</h1>
        <div class="col-xs-6 col-md-4 score">
          {{display-score model.score}}
        </div>
      </div>
      <p>{{model.description}}</p>
      <p>{{#link-to 'heroes.hero.rate' class="btn btn-primary"}}Rate{{/link-to}} <a href="#" class="btn btn-danger" role="button">Delete</a></p>
    </div>
  </div>
</div>
<div class="col-xs-6 col-sm-4">
  {{outlet}}
</div>