<div class='rate-box'>
	<label for="strength">Strength</label>
	{{input id="strength" type='range' min='0' max='4' value=rating.strength step='0,8'}}
	<label for="stamina">Stamina</label>
	{{input id="stamina" type='range' min='0' max='4' value=rating.stamina step='0,8'}}
	<label for="speed">Speed</label>
	{{input id="sprint" type='range' min='0' max='4' value=rating.speed step='0,8'}}
	<label for="intellect">Intellect</label>
	{{input id="intellect" type='range' min='0' max='4' value=rating.intellect step='0,8'}}
	<label for="agility">Agility</label>
	{{input id="agility" type='range' min='0' max='4' value=rating.agility step='0,8'}}
</div>

