<div>
	Strength: {{input type='range' min='0' max='5' value=rating.strength step='1'}}
</div>
<div>
	Stamina: {{input type='range' min='0' max='5' value=rating.stamina step='1'}}
</div>
<div>
	Sprint: {{input type='range' min='0' max='5' value=rating.speed step='1'}}
</div>
<div>
	Intellect: {{input type='range' min='0' max='5' value=rating.intellect step='1'}}
</div>
<div>
	Agility: {{input type='range' min='0' max='5' value=rating.agility step='1'}}
</div>


